@model ServiciosABC.Objetos.Tickets

@{
    Layout = "_LayoutSoporte.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cerrar</title>
</head>
<body>
    <h3>Seguro de querer Cerrar</h3>
    <div>
        
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.cliente)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.cliente)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.fechaSolicitud)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.fechaSolicitud)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.descripcion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.descripcion)
            </dd>
    
               
            <dt>
                @Html.DisplayNameFor(model => model.InfAdicional)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InfAdicional)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Cerrar" class="btn btn-default" /> |
                @Html.ActionLink("Volver", "ListarTickets")
            </div>
        }
    </div>
</body>
</html>
