@model IEnumerable<ServiciosABC.Objetos.TicketNoAsign>

@{
    ViewBag.Title = "Tickets Sin Asignar";
}

    <h2>Lista de Tickets</h2>

<p>
    @Html.ActionLink("Crear Nueva Solicitud", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaSolicitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.soporteAsignado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InfAdicional)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaSolicitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.soporteAsignado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InfAdicional)
        </td>
        <td>
            @Html.ActionLink("Modificar", "Edit", new { id = item.codigo }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.codigo }) |
            @Html.ActionLink("Cerrar", "Delete", new { id = item.codigo })
        </td>
    </tr>
}

</table>
